# Copie este arquivo para android/keystore.properties (NÃO COMMITAR!)
# e preencha com os dados do seu keystore.
storeFile=visita-sc-release.keystore
storePassword=SUA_SENHA_DO_KEYSTORE
keyAlias=visita-sc
keyPassword=SUA_SENHA_DA_CHAVE
